# Assignment

Q1. Write the Python program to add, subtract, multiply and divide
two pandas series ?

    Sample Series- [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [3]:
import pandas as pd
ser1=pd.Series([2,4,6,8,10])
ser2=pd.Series([1,3,5,7,19])

#print("Given Serieses are:"ser1,ser2)
print("Series1 is:\n",ser1)
print("\n")
print("Series2 is:\n",ser2)
print("\n")
print("Addition of two serieses: \n", ser1+ser2)
print("\n")
print("Subtraction of two serieses: \n", ser1-ser2)
print("\n")
print("Multiplication of two serieses: \n", ser1*ser2)
print("\n")
print("Division of two serieses: \n", ser1/ser2)

Series1 is:
 0     2
1     4
2     6
3     8
4    10
dtype: int64


Series2 is:
 0     1
1     3
2     5
3     7
4    19
dtype: int64


Addition of two serieses:
 0     3
1     7
2    11
3    15
4    29
dtype: int64


Subtraction of two serieses:
 0    1
1    1
2    1
3    1
4   -9
dtype: int64


Multiplication of two serieses:
 0      2
1     12
2     30
3     56
4    190
dtype: int64


Division of two serieses:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    0.526316
dtype: float64

Q2. Write a Python program to convert a dictionary to the Pandas
Series?
    
    Sample SeriesOriginal dictionary-
    {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
    Converted series -
    a 100
    b 200
    c 300
    d 400
    e 800
    dtype- int64

In [5]:
import pandas as pd
dict1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print("The given dictionary is:\t",dict1)
print("\n")

ser3=pd.Series(dict1)
print("Converted panda series is:\n",ser3)

The given dictionary is:	 {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}


Converted panda series is:
 a    100
b    200
c    300
d    400
e    800
dtype: int64

Q3. Write a python program to change the data type of given a
column or a Series?

    Sample SeriesOriginal Data Series0 100
    1 200
    2 python
    3 300.12
    4 400
    dtype- object
    Change the said data type to numeric0 100.00
    1 200.00
    2 NaN
    3 300.12
    4 400.00
    dtype- float64

In [10]:
import pandas as pd

list1=[100,200,'python',300.12,400]
print("the given list is:\t",list1)


print("type of list is:\t",type(list1))
print("\n")

ser4=pd.Series(list1)
print("given series is:\n",ser4)

print("\n")
print("type of ser4 is:\t",type(ser4))

print("\n")
ser5=pd.to_numeric(ser4,errors='coerce')
print(ser5)

the given list is:	 [100, 200, 'python', 300.12, 400]
type of list is:	 <class 'list'>


given series is:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object


type of ser4 is:	 <class 'pandas.core.series.Series'>


0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

Q4. Write the python pandas program to convert the first column of a
DataFrame as a Series?

    Sample OutputOriginal DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    1st column as a Series0 1
    1 2
    2 3
    3 4
    4 7
    5 11
    Name- col1, dtype- int64
    <class 'pandas.core.series.Series'>

In [14]:
import pandas as pd

df=pd.DataFrame([[1,4,7],[2,5,5],[3,6,8],[4,9,12],[7,5,1],[11,0,11]],columns=['col1','col2','col3'])
print("given DataFrame is:\n")
print(df)
print("\n")

print("converting first column of the DataFrame to Series:\n")
col1=pd.Series(df['col1'])
#print(df['col1'])

print(col1)
print(type(col1))

given DataFrame is:

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11


converting first column of the DataFrame to Series:

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

Q5. Write a pandas program to create the mean and standard
deviation of the data of a given Series?

    Sample OutputOriginal Data Series0 1
    1 2
    2 3
    3 4
    4 5
    5 6
    6 7
    7 8
    8 9
    9 5
    10 3
    dtype- int64
    Mean of the said Data Series4.81818181818
    Standard deviation of the said Data Series2.52262489555

In [15]:
import pandas as pd
ser6=pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print("given series is:\n",ser6)

print("Mean of given series is:\t",ser6.mean())
print("Standard Deviation of given series is:\t",ser6.std())

given series is:
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of given series is:	 4.818181818181818
Standard Deviation of given series is:	 2.522624895547565

Q6. Write a pandas program to get powers of an array values
element-wise?
 
Note First array elements raised the powers from the second array.

    Sample data: {'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]}
    Expected Output:
    X Y Z
    0 78 84 86
    1 85 94 97
    2 96 89 96
    3 80 83 72
    4 86 86 83

In [16]:
sam_data=pd.DataFrame({'X ':[78,85,96,80,86], ' Y ':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print("The output is:\n",sam_data)

The output is:
    X    Y    Z
0  78   84  86
1  85   94  97
2  96   89  96
3  80   83  72
4  86   86  83

Q7. Write the pandas program to get the first 3 rows of a given
DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- [ 'yes', 'no', 'yes' , 'no', ' no ', ' yes ', 'yes', 'no', 'no', 'yes' ] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j' ]
    Expected OutputFirst three rows of the data frameattempts name qualify score
    a 1 Anastasia yes 12.5
    b 3 Dima no 9.0
    c 2 Katherine yes 16.5

In [21]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("Given data is:\n",df)
print("\n")
print("First three rows of the data frame:")
print(df.iloc[:3])
#print(df.head(3))

Given data is:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


First three rows of the data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Q8: Write the pandas program to select the specified columns and
the rows from a given data frame?

    Sample Python dictionary data and list labelsSelect 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
    exam_data = {'name ': [ 'Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score'- [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'] }
    labels = ['a ', ' b ', ' c ', ' d ', ' e ', ' f ', ' g ', 'h', 'i', 'j']
    Expected OutputSelect specific columns and rowsname score
    b Dima 9.0
    d James NaN
    f Michael 20.0
    g Matthew 14.5

In [26]:
exam_data1  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data1 , index=labels1)
print("Gven data:\n \n",df)

print("\n")
print("Retrieving specific rows and columns:\n")
#print(df[['name','score']])
print(df.iloc[[1,3,5,6],[0,1]])

Gven data:

         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


Retrieving specific rows and columns:

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

Q9. Write the pandas program to calculate mean score for each
different student in DataFrame?

    Sample Python dictionary data and list labelsexam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
    'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts'- [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify'- ['yes', 'no', ' yes ', ' no ', ' no ', ' yes ', ' yes ', ' no ', ' no ', ' yes '] }
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    Expected OutputMean score for each different student in data frame:
    13.5625

In [36]:
exam_data2  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df2 = pd.DataFrame(exam_data2 , index=labels1)
print("Gven data:\n",df2)
print("\n")
print("the mean is: \t",df2['score'].mean())

Gven data:
         name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes


the mean is: 	 13.5625

Q10. Write the Pandas program to rename columns of a given
DataFrame ?

    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 9
    New data frame after renaming columns:
    Column1 Column2 Column3
    0 1 4 7
    1 2 5 8
    2 3 6 9

In [37]:
import pandas as pd
d = {'col1': [1, 2, 3], 'col2': [4, 5, 6], 'col3': [7, 8, 9]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
df.columns = ['Column1', 'Column2', 'Column3']
df = df.rename(columns={'col1': 'Column1', 'col2': 'Column2', 'col3': 'Column3'})
print("New DataFrame after renaming columns:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9
New DataFrame after renaming columns:
   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

Q11. Write a pandas program to count city-wise number of people from
a given of data set (city, name of the person)?

    Sample data-
    city Number of people
    0 California 4
    1 Georgia 2
    2 Los Angeles 4

In [2]:
import pandas as pd
da={'city':['California','Georgia','Los Angels'],'Number of people':[4,2,4],}
#da = {'California': [4], 'Georgia': [2], 'Los Angels': [4]}

data1=pd.DataFrame(data=da)
print(data1)

         city  Number of people
0  California                 4
1     Georgia                 2
2  Los Angels                 4

Q12. Write a pandas program to widen output display to see more
columns?
    
    Sample dataOriginal data frame
    col1 col2 col3
    0 1 4 7
    1 4 5 8
    2 3 6 9
    3 4 7 0
    4 5 8 1

In [3]:

df2 = pd.DataFrame([[1, 4,7],  [4, 5, 8], [3, 6, 9],[4,7,0],[5,8,1]],columns=['col1','col2','col3'])

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


print("Original DataFrame")
print(df2)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Q13. Write a pandas program to convert the data frame column type
from string to DateTime?
    
    Sample dataString Date0 3/11/2000
    1 3/12/2000
    2 3/13/2000
    dtype- object
    Original DataFrame (string to datetime)-
    0
    0 2000-03-11
    1 2000-03-12
    2 2000-03-13

In [6]:
import pandas as pd

s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'])
print("String Date:")
print(s)

print("\n")

r = pd.to_datetime(pd.Series(s))
df = pd.DataFrame(r)
print("Original DataFrame (string to datetime):")
print(df)

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
dtype: object


Original DataFrame (string to datetime):
           0
0 2000-03-11
1 2000-03-12
2 2000-03-13

Q14. Write a pandas program to append the data to an empty
DataFrame?

    Sample dataOriginal DataFrame- After appending some data: col1 col2 0 0 0 1 1 1 2 2 2

In [7]:
df1=pd.DataFrame()

data = pd.DataFrame({"col1": range(3),"col2": range(3)})
df1=df1.append(data)
print(df1)

   col1  col2
0     0     0
1     1     1
2     2     2

Q15. Write a pandas program to count the number of columns of a
DataFrame?

    Sample OutputOriginal DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 8
    2 3 6 12
    3 4 9 1
    4 7 5 11
    Number of columns- 3

In [8]:
df3=pd.DataFrame({'col1':[1,2,3,4,7],'col2':[4,5,6,9,5],'col3':[7,8,12,1,11]})
print("df3 is:\n",df3)

print("No.of columns:\t",len(df3.columns))

df3 is:
    col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
No.of columns:	 3

Q16. Write a Pandas program to remove the last n rows of a given
DataFrame ?

    Sample Output:
    Original DataFrame
    col1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    3 4 9 12
    4 7 5 1
    5 11 0 11
    After removing last 3 rows of the said DataFramecol1 col2 col3
    0 1 4 7
    1 2 5 5
    2 3 6 8
    
     Link for Datasets
     (https://drive.google.com/drive/folders/105ftuIwN9kqyPNEEm3E6IM7LqywjyvJa?usp=sharing)

In [22]:
df4=pd.DataFrame({'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]})
print("given dataframe is:\n", df4)

#print(df4[:-3])
print("\n")

print("dataframe after removing last 3 rows:")
df4 = df4.iloc[:3]
print(df4)

given dataframe is:
    col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11


dataframe after removing last 3 rows:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

Q17. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a Pandas data frame.

In [27]:
import pandas as pd
df5=pd.read_excel(r"C:\Users\IHSAN AADIL\Desktop\iNeuron-Dashboard\codes\coalpublic2013.xlsx")

print(df5.head())

   Year  MSHA ID                       Mine_Name  Production  Labor_Hours
0  2013   103381            Tacoa Highwall Miner       56004        22392
1  2013   103404                Reid School Mine       28807        28447
2  2013   100759  North River #1 Underground Min     1440115       474784
3  2013   103246                      Bear Creek       87587        29193
4  2013   103451                     Knight Mine      147499        46393

Q18. Write a Pandas program to import excel data (coalpublic2013.xlsx
) into a data frame and find details where "Mine Name" starts with
"P.

In [28]:

import pandas as pd
df5=pd.read_excel(r"C:\Users\IHSAN AADIL\Desktop\iNeuron-Dashboard\codes\coalpublic2013.xlsx")

#print(df5.head())

df6=df5[df5["Mine_Name"].map(lambda x: x.startswith('P'))]

df6.head()

    Year  MSHA ID                      Mine_Name  Production  Labor_Hours
13  2013   103332                  Powhatan Mine      140521        61394
18  2013   102976  Piney Woods Preparation Plant           0        14828
19  2013   102976  Piney Woods Preparation Plant           0        23193
46  2013   103321                 Poplar Springs      189370        76366

Q19. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find the list of employees where
hire_date> 01-01-07.

In [51]:
import pandas as pd
df7=pd.read_excel(r"C:\Users\IHSAN AADIL\Desktop\iNeuron-Dashboard\codes\employee.xlsx")
#df7.head()

import numpy as np

df7[df7['hire_date'] >='20070101']

    emp_id first_name   last_name  hire_date
4      104      Bruce       Ernst 2007-05-21
7      107      Diana     Lorentz 2007-02-07
13     113       Luis        Popp 2007-12-07
19     119      Karen  Colmenares 2007-08-10

Q20. Write a Pandas program to import excel data (employee.xlsx )
into a Pandas dataframe and find a list of the employees of a specified
year

In [56]:
import pandas as pd
df8=pd.read_excel(r"C:\Users\IHSAN AADIL\Desktop\iNeuron-Dashboard\codes\employee.xlsx")
#print(df8.head())
df9 = df8.set_index(['hire_date'])
result = df9["2005"]
print(result)

            emp_id first_name last_name
hire_date
2005-09-21     101      Neena   Kochhar
2005-06-25     105      David    Austin
2005-09-28     110       John      Chen
2005-09-30     111     Ismael   Sciarra
2005-12-24     116     Shelli     Baida
2005-07-24     117      Sigal    Tobias

## Great Job!